body{
    background-color:rgba(65, 63, 65, 0.933);
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
}
nav {
    display:flex;
    justify-content: space-between;
}
.navbarScroll.navbarDark {
    background-color: black;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 16px;
}
.intro h1 {
    text-align: center;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}
.about{
    display:flex;
    justify-content: space-between;
}
.description, .profileImage, .stats  {
    flex: 1;
}
.profileImage {
    padding: 40px;
    border: solid 1px;
    border-radius: 43%;
}
.profileImage img {
    width: 500px;
    border-radius: 43%;
}
.stats{
    text-align: right;
}


small {
    font-family: "Fira Sans",sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.about p {
    font-family: 'Playfair Display', serif;
    line-height: 28px;
}
.description, .stats {
    padding: 40px;
}

.services ul {
    list-style: none;
    padding: 0;
    line-height: 32px;
}